
body {
	padding: 0px;
	margin: 0px auto;
	max-width: 768px;
	background-color: #f5f5f7;
	font: 100%/1.5 "HelveticaNeue", "Helvetica", "Arial", "Microsoft Yahei", sans-serif;
}

a {
	/* color: #3951b3; */
	color: #06c;
	text-decoration: none;
	letter-spacing: 1px;
}
a:hover {
	text-underline-offset: 4px;
	font-weight:bolder;
}

hr {
	margin: 0 0;
}

li {
	margin-bottom: 12px;
}

select {
	max-width: 95%;
}

img {
	border-radius: 10px;
}

/* */
.smallinput {
	max-width:30%;
}

.reminder {
	font-size: 12px;
	color: red;
	top: -10px;
	left: -5px;
	font-weight: bolder;
}

.small {
	font-size: small; /* even smaller */
}

.smaller {
	font-size: smaller;
}

.main_box {
	letter-spacing: 1px;
}

p.centp {
	text-align:center;
}
.advIconSmall {
	max-width: 26%;
	/* max-height: 138px; */
	opacity: 0.98;
	margin-left: 10px;
	filter: drop-shadow(2px 4px 6px black);
}